/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .wrapper > * {
    padding: 20px;
  }
  
  
  /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* .page-header {
    background: var(--main-white-color); 
  } */
  /* .page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header ul {
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
  }
  
  .page-header ul li:not(:last-child) {
    padding-right: 15px;
  }
  
  .page-header .cta-contact {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 5px;
  }
   */
  
  /* MAIN
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 350px;
  
    /* background: #d1d2d3; */
    background-blend-mode: luminosity;
    /* color: var(--main-white-color); */
  }
  
  /* .page-main div {
    max-width: 500px;
  } */
  
  .page-main h1 {
    margin-bottom: 20px;
  }
  
  .page-main p + p {
    margin-top: 10px;
  }
  /* .jumbotron{
    background: #F7F7F7; /*url('../images/pic.jpg'); */
    /* background-attachment: fixed; */
    /* background-repeat : no-repeat; */
    /* background-size: 100%;
    border: 1px solid black;
  }  */
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('../images/Vanishing-Stripes.svg');
    background-attachment: fixed;
    background-size: cover;
  
  }
  
  .page-footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .page-footer ul li:not(:last-child) {
    margin-right: 20px;
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (min-width: 550px) {
    /* .page-header ul {
      width: auto;
      margin-top: 0;
    }
  
    .page-header .cta-contact {
      order: 1;
    } */
  
    .page-footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .page-footer ul {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  
    .page-main {
      padding-left: 10px;
    }
  }
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-header nav > *,
  .page-main,
  .page-footer > * {
    opacity: 0;
  }
  
  .page-header,
  .page-footer,
  .page-main .text-wrapper {
    overflow: hidden;
  }
  
  .list > * {
    transform: translateY(-30px);
  }
  
  .page-footer > * {
    transform: translateY(30px);
  }
  
  .page-header {
    position: relative;
  }
  
  .page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    z-index: 99999;
    transform: scaleX(0);
  }
  
  .page-main .text-wrapper + .text-wrapper {
    margin-top: 10px;
  }
  
  .page-main .text-wrapper * {
    transform: translateY(120%);
  }
  
  .page-main .p-wrapper * {
    transform: translateY(-120%);
  }
  
  .loaded .list::after {
    animation: scaleIn 1.3s ease-in 0.2s forwards;
  }
  
  .loaded .page-main {
    animation: fadeIn 1s ease-in 0.7s forwards;
  }
  
  /* .loaded .list > *, */
  .loaded .page-footer > * {
    animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
  }
  
  .loaded .page-main .text-wrapper * {
    animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
  }
  
  .loaded .list > li:nth-child(1){
      animation: fadeIn 1s ease-in 0.2s forwards;
  }

  .loaded .list > li:nth-child(2){
    animation: fadeIn 1s ease-in 0.4s forwards;
  }

  .loaded .list > li:nth-child(3){
    animation: fadeIn 1s ease-in 0.6s forwards;
  }

  .loaded .list > li:nth-child(4){
    animation: fadeIn 1s ease-in 0.8s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0);
    }
  }
  
  
  h1, h2, h3, h4, h5, h6{
    text-align: center;
  }


  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 350px;
  color: #fff;
  text-align: center;
  background-image: url('../images/Background2.svg');
  background-attachment: fixed; 
  background-size: cover;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 3.8em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
  height: 74px;
}
nav ul {
  float: right;
  list-style: none;
  padding: 22.5px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
}
nav a:hover {
  color: #ededed;
}

.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
.logo:before {
  content: '\00BB';
  left: 20px;
}
.logo:after {
  content: '\00AB';
  left: 34px;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.presentation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 80%;
  background-color: white;
}

.presentation2{
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 15px;
}
.partie2{
  display: flex;
  align-items: center;
  background-image: url('../images/Vanishing-Stripes.svg');
  background-attachment: fixed;
  background-size: cover;
  height: 25%;
  justify-content: center;
  color: white;
  font-size: 2em;
}



.group{
  margin-right: 5%;
  margin-left: 5%;
  color: #1E2E43;
}

.group1{
  margin-left: 3%;
  color: #1E2E43;
}

.title{
  font-size: 3em;
}

.title1{
  font-size: 1.5em;
}

.text{
  font-size: 2em;
}

.text1{
  font-size: 1em;
}
.size-normal{
  font-size: 20px;
}


.image{
  margin-right: 5%;
}

.image1{
  width: 550px;
}

small{
  color: white;
}

.blanc > li{
  color: white;
}

.btnTransi{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  padding: 0 !important;
  margin-top: 0 !important;
  margin-right: 15px;
  margin-bottom: 8px;
}
.listMobile .btnTransi{
  padding-top: 0 !important;
  margin: 3px !important;
}

.btnTransi:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
}
.btnTransi:hover:before, .btnTransi:focus:before, .btnTransi:active:before {
  right: 0;
}

.contact-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 20;
  background-color: white;
}

.carte{
  border: 2px solid #1E2E45;
  margin: 20;
  height: 300px;
  width: 450px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 5px 5px 5px #656565;
}

.carte:hover{
  background-position: -20 -20;
}

.carte:hover .boutonProjet{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
  display: flex;
  align-items: flex-end;
}



.carte .infoCarte{
  justify-content: space-between;
  height: 15%;
  margin: 0 10;
  color: white;
  font-weight: 700;
  font-size: 25px;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
  display: flex;
}

.imgLogo{
  margin-top: 5px;
  width: 57.453px;
  height: 39.391px;
}

.imgLogo1{
  margin-top: 5px;
  width: 39.391px;
  height: 39.391px;
}

.carte .boutonProjet{
  opacity: 0;
  height: 85%;
}
.cards{
  padding-top: 60px;
  padding-bottom: 60px;
}

.card img{
 height: 200px !important;
 width: 200px !important;
 margin-left: 43px;
 margin-top: 10px !important;
}

.row{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body{
  line-height:1.3em;
}
.history-tl-container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -21px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 40px;
    width: 40px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
  font-size:23px;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:16px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -150px;
    text-align: right;
    font-size: 12px;
}

.lieux{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30 0;
  margin-bottom: 80 !important;
}

.textLieux{
  margin-left: 50px;
}

.imgLieux{
    width: 200px;
}

@media screen and (max-width:991px){

}

@media screen and (max-width:767px){
  .presentation{
      flex-direction: column;
  }
  .image{
      margin-top: 5%;
      margin-right: 0%;
  }
  .image1{
      width: 100%;
  }
  .group{
      margin-right: 0%;
      margin-left: 0%;
      font-size: 13px;
      padding:5%;
  }
  .group1{
      margin-top: 5%;
      margin-left: 0%;
  }
  .presentation2{
      flex-direction: column;
  }
}

@media screen and (max-width:621px){


  .carte{
      width: 360px;
  }

  ul.tl{
      margin-right: 50px !important;
  }

  .presentation{
      justify-content: center;
  }

}