
body {
  font: 16px/1.5 "Dosis", sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(75,768,377)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='334' height='278.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

/* MAIN
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;

  /* background: #d1d2d3; */
  background-blend-mode: luminosity;
  /* color: var(--main-white-color); */
}

.page-main h1 {
  margin-bottom: 20px;
}

.page-main p + p {
  margin-top: 10px;
}

/* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background-image: url("../images/Vanishing-Stripes.svg");
  background-attachment: fixed;
  background-size: cover;
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}

/* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header nav > *,
.page-main,
.page-footer > * {
  opacity: 0;
}

.page-header,
.page-footer,
.page-main .text-wrapper {
  overflow: hidden;
}

.list > * {
  transform: translateY(-30px);
}

.page-footer > * {
  transform: translateY(30px);
}

.page-header {
  position: relative;
}

.page-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  z-index: 99999;
  transform: scaleX(0);
}

.page-main .text-wrapper + .text-wrapper {
  margin-top: 10px;
}

.page-main .text-wrapper * {
  transform: translateY(120%);
}

.page-main .p-wrapper * {
  transform: translateY(-120%);
}

.loaded .list::after {
  animation: scaleIn 1.3s ease-in 0.2s forwards;
}

.loaded .page-main {
  animation: fadeIn 1s ease-in 0.7s forwards;
}

/* .loaded .list > *, */
.loaded .page-footer > * {
  animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
}

.loaded .page-main .text-wrapper * {
  animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}

.loaded .list > li:nth-child(1) {
  animation: fadeIn 1s ease-in 0.2s forwards;
}

.loaded .list > li:nth-child(2) {
  animation: fadeIn 1s ease-in 0.4s forwards;
}

.loaded .list > li:nth-child(3) {
  animation: fadeIn 1s ease-in 0.6s forwards;
}

.loaded .list > li:nth-child(4) {
  animation: fadeIn 1s ease-in 0.8s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}

@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.index{
  font-size: large;
}

header {
  background-image: url("../images/Vanishing-Stripes.svg");
  background-attachment: fixed;
  background-size: cover;
}

.headline {
  position: relative;
  height: 350px;
  color: #fff;
  text-align: center;
  background-image: url("../images/Background2.svg");
  background-attachment: fixed;
  background-size: cover;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
  animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 3.8em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
  height: 74px;
}
nav ul {
  float: right;
  list-style: none;
  padding: 22.5px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
}
nav a:hover {
  color: #ededed;
}

.logo {
  height: 75px;
  float: left;
}
.logo:before,
.logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
.logo:before {
  content: "\00BB";
  left: 20px;
}
.logo:after {
  content: "\00AB";
  left: 34px;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 80%;
  /* background-color: white; */
}

.presentation2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: white; */
  padding-top: 15px;
}
.partie2 {
  display: flex;
  align-items: center;
  background-image: url("../images/Vanishing-Stripes.svg");
  background-attachment: fixed;
  background-size: cover;
  height: 25%;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.group {
  margin-right: 5%;
  margin-left: 5%;
  color: #1e2e43;
}

.group1 {
  margin-left: 3%;
  color: #1e2e43;
}

.title {
  font-size: 3em;
}

.title1 {
  font-size: 1.5em;
}

.text {
  font-size: 2em;
}

.text1 {
  font-size: 1em;
}
.size-normal {
  font-size: 20px;
}

.image {
  margin-right: 5%;
}

.image1 {
  width: 550px;
}

small {
  color: white;
}

.blanc > li {
  color: white;
}
.nav_link{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav_link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav_link:hover:after {
  width: 100%;
  left: 0;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 20;
  background-color: white;
}

.logo{
  width: 70px;
  vertical-align: middle;
  border-style: none;
}

.cv{
  text-align: center;
  align-items: center;
  margin: 5px auto;
}


  
svg {
  height: 80px;
  position: absolute;
  width: 80px;
}
.plates {
  display: none;
  flex-wrap: wrap;
  height: 50px;
  width: 54px;
}
.listMobile{
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgba(17,17,17,0.95);
  right: -50%;
  top: 0;
  text-align: center;
  padding: 50px 0;
  line-height: normal;
  transition: 0.7s;
  z-index: 3;
  opacity: 0;
}

.plate ul{
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

.plate ul li{
  padding: 15 0;
}

.listMobile a.nav-link{
  padding: 0 !important;
  margin: 0 !important
}

@media (max-width: 992px) {
  .plates {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .list{
    display: none;
  }
}
.plate {
  margin-top: 10px;
  height: 54px;
  width: 54px;
}
.burger {
  filter: url(#gooeyness);
  height: 54px;
  width: 54px;
  cursor: pointer;
}
.x {
  transform: scale(0);
  transition: transform 400ms;
  height: 54px;
  width: 54px;
  cursor: pointer;
  z-index: 4;
}
.line {
  fill: none;
  stroke: #F2F2F2;
  stroke-width: 6.9px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}

.plate .plate5{
  width: 50px;
}

/* Den femte rätten */
.plate5 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}
.plate5 .line1 {
  stroke-dasharray: 40 40;
}
.plate5 .line2 {
  stroke-dasharray: 21 39;
}
.plate5 .line3 {
  stroke-dasharray: 21 39;
}
.plate5 .line4 {
  stroke-dasharray: 40 40;
}
.plate5 .x {
  transition: transform 400ms 50ms;
}

.active.plate5 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.active.plate5 .line1 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}
.active.plate5 .line2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}
.active.plate5 .line3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}
.active.plate5 .line4 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}
.active.plate5 .x {
  transition: transform 400ms 50ms;
}

.imageMobile{
  display: flex;
  width: 70px;
  margin-right: auto;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.active .listMobile{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
	transition: .7s ease-in-out;
  right: 0%;
}

.active ul li{
 z-index: 3;
 display: flex;
 justify-content: center;
}
/* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 621px) {
  .presentation {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .page-main {
    padding-left: 10px;
  }
  /* .presentation {
    flex-direction: column;
  } */
  .image {
    margin-top: 5%;
    margin-right: 0%;
  }
  .group {
    margin-right: 0%;
    margin-left: 0%;
    font-size: 13px;
    padding: 5%;
  }
  .group1 {
    margin-top: 5%;
    margin-left: 0%;
  }
  /* .presentation2 {
    flex-direction: column;
  } */
}

@media screen and (max-width: 991px) {
}

